.button {
  background-color: rgb(161, 116, 242);
  color: white;
  text-transform: capitalize;
  padding: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 32px;
  cursor: pointer;
}

.limitingDiv {
  height: 100px;
  overflow: hidden;
  position: relative;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
